<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>InsiderBoard</title>
</head>
<body>
  <header>
    <div class="logo"><a href="/">InsiderBoard</a></div>
    <nav>
      <% if (locals.user) {%>
        <a href="/log-out">Log Out</a>
      <% } %>
    </nav>
   
  </header>
  <main>
    <% if (locals.user) {%>
      <h1 class="greetings">Welcome Back, <span class="name"><%= user.first_name %></span></h1>
      <div class="container">
        <section class="main-left">
          <form action="/messages" method="POST" class="message-form">
              <h2>Write a post</h2>
                <input type="text" name="title" id="title" placeholder="Post title" required>
                <textarea name="text" id="text" placeholder="What's on your mind?" required></textarea>
              <button type="submit">Post</button>
          </form>
          <ul class="invitation">
            <% if (user && !user.membership) { %>
              <li><a href="/join-club">Join a club</a></li>
            <% } %>
            <% if (user && !user.is_admin) { %>
              <li><a href="/admin">Be an admin</a></li>
            <% } %>
          </ul>
        </section>
        <section class="main-right">
          <h2>Messages</h2>
          <ul class="message-list">
              <% messages.forEach(message => { %>
                  <li class="message-box">
                      <span class="message-title"><%= message.title %></span>
                      <% if (user && user.membership) { %>
                          <p class="message-author">Posted by: <%= message.author %> on <%= message.created_at %></p>
                      <% } %>
                      <span class="message-text"><%= message.text %></span>
                      <% if (user && user.is_admin) { %>
                        <form action="/delete/<%= message.id %>" method="POST" class="delete-message">
                            <button type="submit" class="delete">Delete</button>
                        </form>
                      <% } %>
                  </li>
              <% }) %>
          </ul>
        </section>
      </div>
    <% } else { %>
      <section class="main-center">
          <h1>Log In</h1>
          <form action="/log-in" method="POST">
          <label for="username">
              <span>E-mail:</span>
              <input id="username" name="username" type="email" required/>
          </label>
          <label for="password" class="password-wrapper">
            <span>Password:</span>
            <div class="password-container">
                <input id="password" name="password" type="password" required />
                <span id="togglePassword" class="toggle-password">
                   
                    <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zm-8 4a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5z"/>
                    </svg>
                </span>
            </div>
        </label>   
          <% if (locals.errors) { %>
              <p class="error"><%= error %></p>
          <% } %>
              
          <button type="submit">Log In</button>
          <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
          </form>
        </section>
    <% } %>
  </main>
  <script>
      const togglePassword = document.getElementById('togglePassword');
      const passwordInput = document.getElementById('password');

      togglePassword.addEventListener('click', function () {
          const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
          passwordInput.setAttribute('type', type);

          this.classList.toggle('active');
      });
  </script>
</body>
</html>
