<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>InsiderBoard</title>
</head>
<body>
  <header>
    <div class="logo"><a href="/">InsiderBoard</a></div>
    <nav>
      <% if (!locals.user) {%>
        <a href="/sign-up">Sign Up</a>
        <a href="/log-in">Log In</a>
      <% } else { %>
        <a href="/log-out">Log Out</a>
      <% } %>
    </nav>
   
  </header>
  <main>
    <% if (locals.user) {%>
      <h1 class="greetings">WELCOME BACK <span class="name"><%= user.first_name %></span></h1>
      <form action="/messages" method="POST" class="message-form">
          <label for="title">
            <span>Title: </span>
            <input type="text" name="title" id="title" required>
          </label>
          <label for="text">
            <span>Message: </span>
            <textarea name="text" id="text" required></textarea>
          </label>
          <button type="submit">Post</button>
      </form>
      <ul class="invitation">
        <% if (user && !user.membership) { %>
          <li><a href="/join-club">Join a club</a></li>
        <% } %>
        <% if (user && !user.is_admin) { %>
          <li><a href="/admin">Be an admin</a></li>
        <% } %>
      </ul>
    <% } %>
      <section>
        <h2>Messages</h2>
        <ul>
            <% messages.forEach(message => { %>
                <li class="message-box">
                    <span class="message-title"><%= message.title %></span>
                    <% if (user && user.membership) { %>
                        <p class="message-author">Posted by: <%= message.author %> on <%= message.created_at %></p>
                    <% } %>
                    <span class="message-text"><%= message.text %></span>
                    <% if (user && user.is_admin) { %>
                      <form action="/delete/<%= message.id %>" method="POST">
                          <button type="submit" class="delete">Delete</button>
                      </form>
                    <% } %>
                </li>
            <% }) %>
        </ul>
      </section>
  </main>
</body>
</html>
